<div  id="right">
  <section id="c1" data-speed="100" data-type="background">
    <article>
      <div class="welcome-unit">
      <h1 id="Hot">Feeling Too Hot?</h1>
    </div>
    </article>
  </section>
</div>
<div id="left">
  <section id="c2" data-speed="100" data-type="background">
    <article>
      <div class="welcome-unit">
      <h1 id="Cold">Feeling Too Cold?</h1>
    </div>
    </article>
  </section>
</div>
<div id="justtop">
  <div class="welcome-unit">
    <h1 id="justright">It's Just Right</h1>
  </div>
</div>
<div id="top">
  <%= render 'form' %>
</div>