// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  position: fixed;
  width: 98%;
}
h1 a{
	font-family: 'Donegal One', serif;
}
#left
{
  float:left;
  width:50%;
  height: 100%;
}

#right
{
  float:right;
  width:50%;
  height: 100%;
}
#top {
  position: fixed;
  top: 20%;
  left: 35%;
  width: 30%;
}

#c1 { 
	background: url(c1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#c2 { 
	background: url(c2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}


#c1 article { 
    font-family: 'Lobster', cursive;
    top: 10%;
    margin-left:auto;
	margin-right:auto;
    text-align: center;
    font-size: 72px;
}

#c2 article { 
    font-family: 'Lobster', cursive;
    top: 10%;
    margin-left:auto;
	margin-right:auto;
    text-align: center;
    font-size: 72px;
}

.welcome-unit {
  font-family: 'Lobster', cursive;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  color: inherit;
   background: rgba(239, 231, 231, .8);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

}
#slider {
  margin: 0 auto;
}

.welcome-unit h1 {
  font-family: 'Lobster', cursive;
  padding: 0px;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
.welcome-unit p {
  margin: 0 auto;
}

.welcome-unit li {
  line-height: 30px;
}
h2 {
  font-size: 30px;
  font-family: 'Droid Serif', serif;
}